<div class="container-fluid" style="overflow: auto">
  <table
    class="table table-hover"
    *ngIf="transactionData.length; else elseTransaction"
    id="mytable"
    style="margin-left: 10px; margin-right: 20px"
  >
    <thead>
      <tr>
        <th *ngFor="let h of transactionColumn">
          {{ h }}
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let transaction of transactionData">
      <tr>
        <td>
          {{ transaction.transactionDate | date : "medium" }}
        </td>
        <td>
          {{ transaction.tansactionType! | transactionType }}
        </td>

        <td
          *ngIf="transaction.tansactionType == 0; else elseblock"
          style="color: #12cc12"
        >
          +Rs.{{ transaction.transactionAmount }}/-
        </td>
        <ng-template #elseblock>
          <td style="color: red">-Rs.{{ transaction.transactionAmount }}/-</td>
        </ng-template>
        <td>
          {{ transaction.transactionDescription }}
        </td>
      </tr>
    </tbody>
  </table>
</div>


<ng-template #elseTransaction>
  <h2>No Transaction Yet!!!</h2>
</ng-template>
