
<div class="container-fluid col-md-10">
  <igx-list #transactionTable>
    <igx-list-item isHeader="true" style="font-size: large;justify-content: space-between;" class="text-info">
     <span> TRANSACTION DETAILS</span> 
     <button class="btn btn-primary" (click)="generatePdf()">Download</button>
     </igx-list-item
    >
    <igx-list-item
      *ngFor="let t of transactionData"
      style="border-bottom: 1px solid"
    >
      <span igxListLineTitle>{{ t.transactionDate | date : "medium" }}</span>
      <span
        class="text-primary"
        igxListLineTitle
        *ngIf="t.tansactionType == 0 && t.receiverAccountNumber == null"
      >
        TRANSFER FROM BANK
      </span>
      <span
        style="color: #12cc12"
        igxListLineTitle
        *ngIf="t.tansactionType == 0 && t.receiverAccountNumber != null"
      >
        TRANSFER FROM {{ t.receiverAccountNumber }}
      </span>

      <span
        class="text-primary"
        igxListLineTitle
        *ngIf="t.tansactionType == 1 && t.receiverAccountNumber == null"
      >
        TRANSFER TO BANK
      </span>
      <span
        class="text-danger"
        igxListLineTitle
        *ngIf="t.tansactionType == 1 && t.receiverAccountNumber != null"
      >
        TRANSFER TO {{ t.receiverAccountNumber }}
      </span>
      <span style="color: #12cc12" *ngIf="t.tansactionType == 0"
        >+Rs.{{ t.transactionAmount }}/-</span
      >
      <span style="color: red" *ngIf="t.tansactionType == 1"
        >-Rs.{{ t.transactionAmount }}/-</span
      >
      <hr style="color: red" />
      <span igxListLineTitle>
        {{ t.transactionDescription }}
      </span>
    </igx-list-item>
  </igx-list>
</div>
