<div style="margin-left: 20px; margin-right: 20px" class="row col mb-3">
  <div class="col">
    <button class="btn btn-primary" (click)="addAccount()">Add Account</button>
  </div>

  <div class="form-group col">
    <label for="type">AccountType:</label>
    <select class="form-control" [(ngModel)]="accountType" name="type" required>
      <option *ngFor="let t of [0, 1]" [value]="t">
        {{ t | accountType }}
      </option>
    </select>
  </div>
</div>

<!-- <div style="overflow: auto; margin-left: 20px; margin-right: 20px">
  <table  class="table table-hover " *ngIf="accountData.length" id="mytable">
    <thead>
      <tr>
        <th *ngFor="let h of headerData">
          {{ h }}
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let cust of accountData">
      <tr>
        <td>
          {{ cust.accountNumber }}
        </td>
        <td>
          {{ cust.accountType | accountType }}
        </td>
        <td *ngIf="cust.accountStatus == 1; else elseBlock" style="color: red">
          {{ cust.accountStatus! | accountStatus }}
        </td>

        <ng-template #elseBlock>
          <td style="color: rgb(11, 216, 11)">
            {{ cust.accountStatus! | accountStatus }}
          </td>
        </ng-template>

        <td>
          Rs.{{ cust.amount }}/-
        </td>
        <td>
          {{ cust.openDate | date:'medium' }}
        </td>
        <td>{{ cust.interestRate }}%</td>

        <td>
          <button class="btn btn-info" (click)="openDialog(cust.accountNumber)">
            DEP/WITH
          </button>
        </td>
        <td>
          <button
            routerLink="/transaction-detail/{{ cust.accountNumber }}"
            class="btn btn-secondary"
          >
            Details
          </button>
        </td>
        <td *ngIf="cust.accountStatus == 0; else elseblock1">
          <button
            class="btn btn-danger"
            (click)="changeStatus(cust.accountNumber)"
          >
            DEACTIVE
          </button>
        </td>
        <ng-template #elseblock1>
          <td>
            <button
              class="btn btn-success"
              (click)="changeStatus(cust.accountNumber)"
            >
              ACTIVE
            </button>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>

  <div>
    <br />
  </div>
  <div></div>
</div> -->


<div class="mat-elevation-z8 container-fluid" >
  <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">

    <ng-container matColumnDef="ACCOUNT_NUMBER">
      <th mat-header-cell *matHeaderCellDef> ACCOUNT_NUMBER</th>
      <td mat-cell *matCellDef="let element">{{element.accountNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="ACCOUNT_TYPE">
        <th mat-header-cell *matHeaderCellDef>ACCOUNT_TYPE</th>
        <td mat-cell *matCellDef="let element"> {{element.accountType | accountType}}</td>
      </ng-container>

      <ng-container matColumnDef="ACCOUNT STATUS"  >
        <th mat-header-cell *matHeaderCellDef>ACCOUNT STATUS</th>
        <td mat-cell *matCellDef="let element" > <span *ngIf="element.accountStatus==0" style="color: rgb(11, 216, 11)">
          {{element.accountStatus | accountStatus}}
        </span>
      <span *ngIf="element.accountStatus == 1" style="color: red;"> {{element.accountStatus | accountStatus}}</span>
      </td>
      
      </ng-container>

      <!-- <ng-template #status>
        <td mat-cell *matCellDef="let element"> {{element.accountStatus | accountStatus}}</td>
      </ng-template> -->


      <ng-container matColumnDef="BALANCE">
        <th mat-header-cell *matHeaderCellDef>BALANCE</th>
        <td mat-cell *matCellDef="let element"> Rs.{{element.amount}}/-</td>
      </ng-container>
      <ng-container matColumnDef="OPEN DATE">
        <th mat-header-cell *matHeaderCellDef>OPEN DATE</th>
        <td mat-cell *matCellDef="let element"> {{element.openDate | date:'medium'}}</td>
      </ng-container>
      <ng-container matColumnDef="INTEREST RATE">
        <th mat-header-cell *matHeaderCellDef>INTEREST RATE</th>
        <td mat-cell *matCellDef="let element"> {{element.interestRate}}%</td>
      </ng-container>
      <ng-container matColumnDef="ACTION">
        <th mat-header-cell *matHeaderCellDef>ACTION</th>
        <td mat-cell *matCellDef="let element"> <button class="btn btn-success" (click)="openDialog(element.accountNumber)">DEP/WITH</button></td>
      </ng-container>
      <ng-container matColumnDef="TRANSACTIONS">
        <th mat-header-cell *matHeaderCellDef>ACTION</th>
        <td mat-cell *matCellDef="let element"> <button class="btn btn-info"  routerLink="/transaction-detail/{{ element.accountNumber }}">TRANSACTIONS</button></td>
      </ng-container>
      <ng-container matColumnDef="CHANGE STATUS">
        <th mat-header-cell *matHeaderCellDef>CHANGE</th>
        <td mat-cell *matCellDef="let element"> 
          
          <button *ngIf="element.accountStatus == 1"class="btn btn-success" (click)="changeStatus(element.accountNumber)">Active</button>
          <button *ngIf="element.accountStatus == 0"class="btn btn-danger" (click)="changeStatus(element.accountNumber)">Deactive</button>
        </td>
          
      </ng-container>


      


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator  [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>